<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Detail</title>
</head>
<body>

<h1><%= todo.title %></h1>
<p>Status: <%= todo.done ? 'Hotovo' : 'Nehotovo' %></p>

<!-- Link to toggle status -->
<a href="/toggle-todo/<%= todo.id %>">Změnit stav</a>

<!-- Link to remove todo -->
<a href="/remove-todo/<%= todo.id %>">Odstranit</a>

<!-- Form to change title -->
<form method="post" action="/update-todo/<%= todo.id %>">
  <input type="text" name="title" value="<%= todo.title %>" placeholder="Změnit titulek todočka">
  <button type="submit">Upravit</button>
</form>

</body>
</html>
